/*
 * [ settings / typography ]
 */

// -----------------------------------------------------------------------------

//$font-primary: big-caslon-fb, serif;
$font-primary: 'Combat', serif;
$font-body: 'Avara', serif;
$font-btn: 'DearJoe', serif;
$font-pseudo: 'Roboto Slab', serif;

$line-height-base: 1.5;
$line-height-headings: 1.2;
